body{
    font-weight: 400;
}
html{
    background-color:#0f0f0f;
}
.container{
    position: relative;
}
html{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
body{
    line-height: 1.5;
}
body,html{
    font-size: 100%;
}
html{
    box-sizing: border-box;
    font-size: 14px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
body{
    font-size: 1rem;
}
*{
    box-sizing: inherit;
}
body{
    color: #cfcdcd !important;
    font-family: "Roboto Mono" !important;
    background-color:#0f0f0f !important;
}
@media screen and (min-width: 1000px){
    .container{
        margin:0 auto;
        max-width:960px
    }
}
@media screen and (min-width: 1192px){
    .container{
        max-width:1152px
    }
}
nav{
    width:100%;
    background:#0f0f0f;
    height:80px;
    position:fixed;
    z-index:1
}
nav #brand{
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}
nav #brand a{
    color:rgb(255, 255, 255);
}
nav #brand a:hover{
    text-decoration: none;
}
nav #menu{
    float: left;
    right: 80px;
    position: fixed;
}
nav #menu li{
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    font-weight: bold;
    position: relative;
}
nav #menu li span{
    font-weight: 700;
}
nav #menu li a{
    color:#fff;
}
nav #menu li a:hover{
    text-decoration: none;
}
.row{
    margin-top: 110px;
    background-color:#0f0f0f;
}
