body{
    font-weight: 400;
}
html{
    background-color:#0f0f0f;
}
.container{
    position: relative;
}
html{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
body{
    line-height: 1.5;
}
body,html{
    font-size: 100%;
}
html{
    box-sizing: border-box;
    font-size: 14px;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
body{
    font-size: 1rem;
}
*{
    box-sizing: inherit;
}
a {
    color: #7cbd62 !important;
}
body{
    color: #cfcdcd !important;
    font-family: "Roboto Mono" !important;
    background-color:#0f0f0f !important;
}
@media screen and (min-width: 1000px){
    .container{
        margin:0 auto;
        max-width:960px
    }
}
@media screen and (min-width: 1192px){
    .container{
        max-width:1152px
    }
}
nav{
    width:100%;
    background:#0f0f0f;
    height:80px;
    position:fixed;
    z-index:1
}
nav #brand{
    float: left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}
nav #brand a{
    color:rgb(255, 255, 255) !important;
}
nav #brand a:hover{
    text-decoration: none;
}
nav #menu{
    float: left;
    right: 80px;
    position: fixed;
}
nav #menu li{
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300;
    line-height: 80px;
    font-weight: bold;
    position: relative;
}
nav #menu li span{
    font-weight: 700;
}
nav #menu li a{
    color:#fff !important;
}
nav #menu li a:hover{
    text-decoration: none;
}
.row{
    margin-top: 110px;
    background-color:#0f0f0f;
}
strong {
    color: rgb(233, 233, 233);
}
#irtopo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #1b1b1b;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#irtopo span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #7cbd62;
}